<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="EatClub Automation Suite">

    <test name="Online Food Ordering Tests">

        <classes>

            <class name=
                "foodordering.automation.OnlineFoodOrderingAutomation.OnlineFoodOrderingTest"/>

        </classes>

    </test>

</suite>